/venv/
*.log
*.pyc
*.sqlite
.idea/*
/a.out
/sr201emualtorin
/token.pickle
/credentials.json
/BedehusTemperaturProgram.2023-12-14_21-02-43_505922.log.gz
BedehusTemperaturProgram.log
BedehusTemperaturProgram.log*
*~
**/__pycache__/
*.pyc
service-account-key.json
