[loggers]
keys=root

[handlers]
keys=consoleHandler,syslogHandler

[formatters]
keys=simpleFormatter,syslogFormatter

[logger_root]
level=INFO
handlers=consoleHandler,syslogHandler

[handler_consoleHandler]
class=StreamHandler
level=INFO
formatter=simpleFormatter
args=(sys.stdout,)

[handler_syslogHandler]
class=logging.handlers.SysLogHandler
level=INFO
formatter=syslogFormatter
args=(("10.253.4.1", 5515),)
ident=bedehus-arp:

[formatter_simpleFormatter]
format='%(asctime)s %(name)-12s %(levelname)-8s %(message)s'

[formatter_syslogFormatter]
format=%(message)s
